footer {
    .pieDePagina {
        &__tex {padding: 50px;
             margin-top: 0;
            text-align: center;
            color:$bgcolors ;
        }
    }
}
.pieDePagina__tex p:hover::after {
    content: "😀";
    margin-left: 10px;
    
}
