footer {
    .pieDePagina {
        &__tex {padding: 1px 24px;
             margin-left: -29px ;
            color:$bgcolors ;
            @extend nav ; 
            text-align: center;
        }
    }
}
footer section p:hover::after {
    content: "😀";
    margin-left: 10px;

    
}
