 main ¨{
     section {
         div {
              background-color: rgb(49, 52, 49);
            text-align: center;
            border-radius: 20px;
            width: 600px;
            height: 761px;
            padding: 16px;
            color:  rgb(91, 119, 125);
            border: 4px groove goldenrod;
            margin-top: 0 ;
            margin-bottom: 0px ;
            margin-left: 0px ;
            margin-right:0px ;
            margin: auto;
              img { 
                    border-radius: 20px;
                border: 5px solid rgb(93, 92, 92)
               
                  

              }
         }
     }
 }